extends layout

block content
    .listItemWrapper
        .topItemWrapper
            p.topItemText Пустой список
            p.counter
                | (
                span.value #{weight.done}/#{weight.all}
                | )
    .buttonsWrapper
        div
            input.button.collapseAll(type='button', value='', onclick='collapseAll()')
            input.button.expandAll(type='button', value='', onclick='expandAll()')
            input.button.saveAll(type='submit', value='', onclick='unmarkAllItems(); save()')
    mixin drawBlock(data)
        each item,index in data
            - var id=item.id
            - var hasChildren = item.children!=null;
            - var priority;
            - if(item.priority==null || item.priority<=0 || item.priority>=6)
                - priority = "priorityDefault"
            - else
                - priority = "priority" + item.priority;

            li(id=id, class="listItemId"+(index==data.length-1 ? " last" : "") )
                .grayLinesBlock
                    .listItemWrapper
                        input(id=id+"_Checkbox", class="checkbox", type="checkbox", onclick="markChangedItem(this.id); changeCheckboxes(this.id); calculateAllWeightRecursive(this.id)", checked=item.isDone)
                        em(id=id+"_Marker", class="marker close"+ (hasChildren!=true ? " hidden" : ""), onclick="collapseElement(this.id)")
                        .hintContainer
                            progress(class="progressBar", value=item.weight.done, max=item.weight.all)
                            br
                            span(span class="hintText") #{item.weight.done}/#{item.weight.all}
                        div(id=id+"_DropWrapper", class="dropdownWrapper")
                            button(id=id+"_PriorityButton", class="dropButton "+ priority, onclick="switchDropdownList(this.id)")
                            div(id=id+"_PriorityDropDown", class="dropContent hidden")
                                each val, index in {0:'Default', 1:'1', 2:'2', 3:'3', 4:'4', 5:'5'}
                                    a(id=id+"_dropLink"+val, class="dropLink priority"+val, href="#", onclick="setPriority(this.id)")
                        a(id=id+"_Item", class="listItemLink", onclick=hasChildren ? "collapseElement(this.id)" :"", onselectstart="return false", onmousedown="return false") #{item.name}
                        input(id=id+"_commentInput", class="textInput comment", type="text", value=item.comment, oninput="markChangedItem(this.id)")
                        input(id=id+"_indexInput", class="textInput index" + (hasChildren==true ? " hidden" : ""), type="text", value=item.weight.done+"/"+item.weight.all, oninput="markChangedItem(this.id)")
                if item.children
                    ul(id=item.id+"_ChildrenUl", class="subList hidden")
                        +drawBlock(item.children)

    ul#root
        +drawBlock(data)