extends layout

block content
    -var parsedData = JSON.stringify(data, replacer);
    script.
        var serviceName = '#{serviceInfo.name}';
        var service = '#{serviceInfo.id}';
        createListState(service);

        navigator.webkitPersistentStorage.requestQuota(10*1024*1024, function (bytes) {
            window.webkitRequestFileSystem(window.PERSISTENT, bytes, function (fs) {
                console.log("storage is ready");
                fs.root.getDirectory(service, {create:true}, function(directory){
                    directory.getFile('oldData.json', {create: true}, function(file){
                        file.remove(function(){
                            directory.getFile('oldData.json', {create: true}, function(newFile) {
                                newFile.createWriter(function(writer){
                                    writer.onwriteend = function(error){
                                        if(error)
                                            console.log(error);
                                        else{
                                            console.log("done");
                                        }
                                    };
                                    var blob = new Blob(['!{parsedData}'], {type: 'application/json'});
                                    writer.write(blob);
                                })
                            })
                        });

                    })
                })
            }, function(err){if(err)
                console.log(err)});
        }, function(err){if(err)
            console.log(err)});
    .headerWrapper
        .listItemWrapper
            .topItemWrapper
                p.topItemText #{serviceInfo.name}
                p.counter
                    | (
                    span(id="root_indexInput") #{weight.done}/#{weight.all}
                    | )
                .usersListWrapper
                    -each item in allUsers
                        div(class="userIcon topUserIcon " + item.id, style="background-image: url(../images/userIcons/"+item.id +".png); background-size: cover")

        .buttonsWrapper
            div
                .searchWrapper
                    input#Search(onkeypress="search(event)")
                    input.button.search(id='NextValueButton', type='button', value='', onclick="search()")
                input#collapseAllButton.button.collapseAll(type='button', value='', onclick='collapseAllByClick()')
                input#expandAllButton.button.expandAll(type='button', value='', onclick='expandAllByClick()')
                input.button.edit(type='button', value='', onclick='editDataFile()')
                input.button.saveAll(id='saveButton', name=serviceName, type='submit', value='', onclick='unmarkAllItems(); saveByButton()')
    mixin drawBlock(data)
        each item,index in data
            - var id=item.id
            - var hasChildren = item.children!=null;
            - var priority;
            - if(item.priority==null || item.priority<=0 || item.priority>=6)
                - priority = "priorityDefault"
            - else
                - priority = "priority" + item.priority;
            - var currentUser = (item.user != 0 && item.user != undefined) ? allUsers[item.user-1].id : "Default";

            li(id=id, class="listItemId"+(index==data.length-1 ? " last" : "") )
                .grayLinesBlock
                    div(class="listItemWrapper" + (!hasChildren ? " noChild": ""))
                        .checkboxAndMarkerWrapper
                            input(id=id+"_Checkbox", class="checkbox", type="checkbox", onclick="markChangedItem(this.id); changeCheckboxes(this.id); changeWeights(this.id)", checked=item.isDone)
                            em(id=id+"_Marker", class="marker close" + (hasChildren!=true ? " hidden" : ""), onclick="collapseOrExpandElementByClick(this.id, event)")
                        .itemMessageWrapper
                            .dropDownWrapper.user(id=id+"_User_DropWrapper")
                                button(id=id+"_User_Button", class="userIcon dropButton user "+currentUser, style="background-image: url(../images/userIcons/"+ '#{currentUser}' +".png)", onclick="switchDropDownList(this.id, 'User')")
                                div(id=id+"_User_DropDown",  class="dropContent user hidden")
                                    each value, index in allUsers
                                        a(id=id+"_User_dropLink"+index, class="userIcon dropLink user " + value.id, style="background-image: url(../images/userIcons/"+value.id +".png)", onclick="setUserValue(this.id)")
                            .hintContainer
                                progress(id=id+"_ProgressBar", class="progressBar", value=item.weight.done, max=item.weight.all)
                                br
                                span(id=id+"_Hint", span class="hintText") #{item.weight.done}/#{item.weight.all}
                            div(id=id+"_DropWrapper", class="dropDownWrapper priority")
                                button(id=id+"_Priority_Button", class="dropButton priority "+ priority, onclick="switchDropDownList(this.id, 'Priority')")
                                div(id=id+"_Priority_DropDown", class="dropContent priority hidden")
                                    each val, index in {0:'Default', 1:'1', 2:'2', 3:'3', 4:'4', 5:'5'}
                                        a(id=id+"_dropLink"+val, class="dropLink priority priority"+val, onclick="setPriorityValue(this.id)")
                            a(id=id+"_Item", class="itemName " + (hasChildren? "listItemLink" : "listItem"), onclick=hasChildren ? "collapseOrExpandElementByClick(this.id, event)" :"", onselectstart="return false", onmousedown="return false") #{item.name}
                            input(id=id+"_indexInput", class="textInput index" + (hasChildren==true ? " hidden" : ""), type="text", value=item.weight.done+"/"+item.weight.all, onchange="updateProgressBar(this.id); changeWeights(this.id); markChangedItem(this.id)")
                            input(id=id+"_commentInput", class="textInput comment", type="text", value=item.comment, oninput="markChangedItem(this.id)")
                if item.children
                    ul(id=item.id+"_ChildrenUl", class="subList hidden")
                        +drawBlock(item.children)
    #mainWrapper
        ul#root_ChildrenUl
            +drawBlock(data)